<!-- Make sure to import the models here  -->
@model WeddingPlanner.Models.Wedding

<div class="buttons">
    <a href="/logout"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
    <a href="/dashboard"><button type="button" class="btn btn-primary btn-lg">Dashboard</button></a>
</div>

<div class="wrapper">
    <div class="container">
        <div class="header"></div>
        <div class="body">
            <form asp-action="Create" asp-controller="Home" method="post">
                <div class="form-group">
                    <label for="name">Wedder One:</label>
                    <input type="text" asp-for="wedderOne" class="form-control" placeholder="Enter your first name">
                </div>
                <div class="form-group">
                    <label for="name">Wedder Two:</label>
                    <input type="text" asp-for="wedderTwo" class="form-control" placeholder="Enter your first name">
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <P style="color: red;">@Html.ValidationMessage("Date")</P>
                    <input type="date" asp-for="weddingDate" class="form-control">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" asp-for="address" class="form-control" placeholder="Enter Valid Address">
                </div>

                <div class="button">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>